<?xml version="1.0"?>
<configuration>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="900960"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.web>
    <authorization>
      <allow users="*"/>
    </authorization>
    <compilation targetFramework="4.0" debug="true"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Server=10.10.90.110;Database=produccion;User ID=sa;Password=Arp4p3l!" providerName="System.Data.SqlClient"/>
    <!--<add connectionString="Server=localhost;Database=produccion_custom;User ID=sa;Password=Arp4p3l!" name="LocalSqlServer" providerName="System.Data.SqlClient"/> -->
    <add name="odbQAD" connectionString="DRIVER=DataDirect 7.1 OpenEdge Wire Protocol; HOST = 10.10.90.153; DSN=QADProd; PORT=48750; DB=custom; UID=mfg; PWD=mfg123; DIL=READ" providerName="System.Data.Odbc"/>
    <add name="pnet8prodConnectionString" connectionString="Data Source=10.10.90.34;Initial Catalog=pnet8prod;User ID=pnet8;Password=pnet8" providerName="System.Data.SqlClient"/>
    <add name="PNET8" connectionString="Data Source=10.10.90.34;Initial Catalog=time;User ID=pnet8;Password=pnet8" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiciosSoap"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="ServiciosSoap12">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/servicios/Servicios.asmx" binding="basicHttpBinding" bindingConfiguration="ServiciosSoap" contract="ServiceReference1.ServiciosSoap" name="ServiciosSoap"/>
    </client>
  </system.serviceModel>
</configuration>