.form{
 width: 40%;
 border: none;
 border-bottom: solid 1px black;
 outline: none;
}

.form-btn{
 width: auto;
 border-radius: solid 1px black;
 background-color: white;
 color: black;
 cursor: pointer;
}